<style>
    .brackets-nodejs-integration-settings-dialog {
        width: -webkit-calc(100% - 100px) !important;
    }

    #brackets-nodejs-integration-runner-settings {
        display: -webkit-inline-box;
        width: 100%;
    }

    #brackets-nodejs-integration-runner-settings label {
        display: inline;
    }

    #brackets-nodejs-integration-runner-settings input {
        float: right;
        width: 100%;
    }

    #brackets-nodejs-integration-runner-settings select {
        float: right;
    }

</style>
<table>
    <tr>
        <td>
            <label>{{PATH_TO_NODE_BINARY}}:</label>
        </td>
        <td>
            <input type="text" placeholder="({{PATH_TO_NODE_BINARY_PLACEHOLDER}})" class="brackets-nodejs-integration-runner-node-bin" style="width: 300px; float: right;">
        </td>
        <td> </td>
        <td style="padding-left: 2em;">
            <label>{{DEBUGGER_LOOKUP_DEPTH}}:</label>
        </td>
        <td>
            <input type="number" min="0" class="brackets-nodejs-integration-runner-lookup-depth" style="float: right;">
        </td>
    </tr>
    <tr>
        <td>
            <label>{{PATH_TO_MOCHA_BINARY}}:</label>
        </td>
        <td>
            <input type="text" placeholder="({{PATH_TO_MOCHA_BINARY_PLACEHOLDER}})" class="brackets-nodejs-integration-runner-mocha-bin" style="width: 300px; float: right;">
        </td>
        <td> </td>
        <td style="padding-left: 2em;">
            <label>{{REMOVE_BREAKPOINTS_ON_DISCONNECT}}:
                <input type="checkbox" class="brackets-nodejs-integration-runner-remove-breakpoints-on-disconnect">
            </label>
        </td>
    </tr>
    <tr>
        <td>
            <label>{{PATH_TO_NPM_BINARY}}:</label>
        </td>
        <td>
            <input type="text" placeholder="({{PATH_TO_NPM_BINARY_PLACEHOLDER}})" class="brackets-nodejs-integration-runner-npm-bin" style="width: 300px; float: right;">
        </td>
        <td> </td>
        <td style="padding-left: 2em;">
            <label>{{FLAGS_FOR_V8}}:</label>
        </td>
        <td>
            <input type="text" placeholder="({{FLAGS_FOR_V8_PLACEHOLDER}})" class="brackets-nodejs-integration-runner-flags">
        </td>
    </tr>
    <tr>
        <td>
            <label>{{PATH_TO_GULP_BINARY}}:</label>
        </td>
        <td>
            <input type="text" placeholder="({{PATH_TO_GULP_BINARY_PLACEHOLDER}})" class="brackets-nodejs-integration-runner-gulp-bin" style="width: 300px; float: right;">
        </td>
        <td> </td>
        <td style="padding-left: 2em;">
            <label for="brackets-nodejs-integration-additional-flags">{{GLOBAL_ADDITIONAL_FLAGS}}:</label>
        </td>
        <td>
            <input class="brackets-nodejs-integration-additional-flags" value="" type="text" placeholder='{{GLOBAL_ADDITIONAL_FLAGS_PLACEHOLDER}}'>
        </td>
    </tr>
    <tr>
        <td>
            <label>{{AUTOSCROLL_IN_TERMINAL}}:
                <input type="checkbox" class="brackets-nodejs-integration-runner-autoscroll">
            </label>
        </td>
    </tr>
</table>

<div id="brackets-nodejs-integration-runner-settings">
    <table style="width: 100%;">
        <tr>
            <td>
                <div class="btn-group" style="width: 100%;">
                    <button class="btn btn-mini" id="brackets-nodejs-integration-runner-add-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <button class="btn btn-mini" id="brackets-nodejs-integration-runner-remove-btn"><i class="fa fa-minus" aria-hidden="true"></i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 35%;">
                <select id="brackets-nodejs-integration-runner-list" size="10" style="width: 100%;">
                </select>
            </td>
            <td style="padding-left: 8px;">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <label for="brackets-nodejs-integration-runner-type">Type:</label>
                        </td>
                        <td>
                            <select id="brackets-nodejs-integration-runner-type">
                                <option value="node">node</option>
                                <option value="mocha">mocha</option>
                                <option value="npm">npm</option>
                                <option value="gulp">gulp</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="brackets-nodejs-integration-runner-name">{{NAME}}:</label>
                        </td>
                        <td>
                            <input id="brackets-nodejs-integration-runner-name" value="" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="brackets-nodejs-integration-runner-target">{{TARGET}}:</label>
                        </td>
                        <td>
                            <input id="brackets-nodejs-integration-runner-target" value="" type="text">
                        </td>
                        <td>
                            <button class="btn btn-mini" id="brackets-nodejs-integration-runner-target-open-btn"><i class="fa fa-folder-open" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="brackets-nodejs-integration-runner-cwd">{{CWD}}:</label>
                        </td>
                        <td>
                            <input id="brackets-nodejs-integration-runner-cwd" value="" type="text">
                        </td>
                        <td>
                            <button class="btn btn-mini" id="brackets-nodejs-integration-runner-cwd-open-btn"><i class="fa fa-folder-open" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="brackets-nodejs-integration-additional-flags-for-setting">{{ADDITIONAL_FLAGS}}:</label>
                        </td>
                        <td>
                            <input id="brackets-nodejs-integration-additional-flags-for-setting" value="" type="text" placeholder='{{ADDITIONAL_FLAGS_PLACEHOLDER}}'>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
