<div id="brackets-nodejs-integration-panel" class="bottom-panel top-resizer">
    <script src="../src/utils/file_manager.js"></script>
    <div class="toolbar simple-toolbar-layout" style="position: relative; height: 20px;">
        <div style="position: absolute;top: -2px;left: 0;height: 10px;width: 100%; cursor: n-resize" class="resize"></div>
        <div class="btn-group">
            <button class="btn btn-mini nodejs-integration-tab-settings" title="{{OPEN_SETTINGS}}"><i class="fa fa-cog" aria-hidden="true"></i>
            </button>
            <button class="btn btn-mini nodejs-integration-tab-new" title="{{CREATE_NEW_TAB}}"><i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <div class="nodejs-integration-tab-view">
            <ul class="nodejs-integration-tabs"></ul>
        </div>
        <div class="close" style="font-size: 150%;">
            <span class="action-close" title="{{CLOSE}}">&times;</span>
        </div>
    </div>
    <div class="nodejs-integration-tab-content">
    </div>
</div>
